<div class="social-container"><a href="http://www.linkedin.com/profile/view?id=39268879" target="_blank"><img class="social" src="http://www.stepsofatraveler.com/static/img/icons/linkedin.jpg"></a>
    <a href="http://facebook.com/stepsofatraveler" target="_blank"><img class="social" src="http://www.stepsofatraveler.com/static/img/icons/facebook.jpg"></a>
    <a href="http://instagram.com/awwester" target="_blank"><img class="social" src="http://www.stepsofatraveler.com/static/img/icons/instagram.jpg"></a>
    <a href="https://plus.google.com/115132444658419098250/posts" target="_blank"><img src="http://www.stepsofatraveler.com/static/img/icons/google.jpg" class="social"></a>
    <a href="http://twitter.com/stepsoftravel" target="_blank"><img src="http://www.stepsofatraveler.com/static/img/icons/twitter.jpg" class="social"></a>
    <div class="fb-like" data-href="http://facebook.com/stepsofatraveler" data-width="200" data-show-faces="false" data-share="true"></div>
</div>

