{% extends 'base/base.html' %}

{% block title %}
  What's the point of the blog?
{% endblock %}

{% block content %}
  <div class="content-text">
    <h4>Share information about travel throughout South America</h4>
    <div class="post-indent">
    <p> There are plenty places to read about this topic, but my blog will not just be about traveling. I will be writing many posts about how travel affects life and happiness in general. I want to help people understand the possibility of travelling and invoke thoughts and ideas.</p><br>
    </div>

    <h4>Discuss high-level topics on life</h4>
    <div class="post-indent">
    <p>The topics of happiness and meaning of life have always captivated my interest. Finding meaning in life is something many people struggle with and it changes over time. There is no correct answer and everyone finds happiness and meaning in their lives in their own personal ways. I will discuss how I find happiness and maybe that will shed glimpses of light on fellow readers and followers.</p><br>
    </div>

    <h4>Spread the great word about Colombia</h4>
    <div class="post-indent">
    <p>In 2011 I fell in love with Colombia. The people are the warmest people I have ever met, it is truly incredible. The culture, lifestyle, and people of Colombia completely shocked me, and before I even set a foot in Colombia I knew it would have a huge impact on my life. I couldn't have been more right. The reasons for that I will discuss throughout this blog and hopefully continue to educate people on why it’s important for people to know about the current Colombia and not go by the reputation of pre-2003 Colombia.</p><br>
    </div>
  </div>
{% endblock %}

{% block sidebar %}
    <div class="sidebar col-md-3 col-md-offset-1">
        {% include "content/twitter.html" %}
    </div>
{% endblock %}